*   {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/background.png);
}

#container {
  margin: auto 10%;
}

#upper_header {
  height: 120px;
  line-height: 120px;
}

#logo {
  height: 100px;
  vertical-align: middle;
}

#title {
  display: inline;
  color: white;
  vertical-align: middle;
}

.buttons {
  border:1px solid lightgrey;
  border-radius: 5px;
}

#messages {
  display: none;
}

#unread {
  line-height: 36px;
  color: white;
}

#unread_number {
  display:inline-block;
  vertical-align:middle;
  border-radius: 50%;
  padding: 1px 7px;
  background-color: orange;
}

.all_emails {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.single_email {
  border:2px solid black;
  background-color:lightgrey;
}

.emails_object, .emails_text {
  display: inline;
}

.emails_text {
  color: grey;
}

.checked_email {
  background-color: white;
}

footer {
  text-align: center;
}

#app, #bye {
  display: inline;
  color: white;
}
